.top-nav {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.show {
    background-color: rgba(255, 255, 255, 1);
}

.top-nav-icon {
    font-size: 1.25rem;
}

.top-nav-menu {
    width: 4rem;
    display: flex;
    justify-content: space-between;
}

.container {
    padding: 0 1rem;
    background-color: #fafbfd;
    margin-bottom: 48px;
}

.brand {
    width: 8rem;
    height: 3rem;
    margin: 0 auto .25rem;
    font-size: 4rem;
    text-align: center;
    color: #ffffff;
    background-color: #e42417;
    display: flex;
    justify-content: center;
}

.icon {
    height: 100%;
}

.release {
    margin-bottom: .85rem;
    font-size: .85rem;
    text-align: center;
    color: #acb2b8;
}

.divider {
    width: 100%;
    height: .8rem;
    border-top: 6px solid rgb(245,245,247);
    border-bottom: 2px solid rgb(245,245,247);
    margin-bottom: 1rem;
}

.title {
    margin-bottom: 2rem;
}

.subtitle {
    margin-bottom: 2rem;
    font-size: .85rem;
    color: #acb2b8;
}

section {
    margin-bottom: 1rem;
}

.ads {
    width: 100%;
    margin-bottom: 1rem;
}

.data {
    font-size: .85rem;
    color: #687178;
    display: flex;
    justify-content: space-between;
}

.data div {
    width: 46%;
    padding: .85rem;
    background-color: #f5f5f7; border: none;
}

.like-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more {
    margin-bottom: 1rem;
    padding: 2.5rem;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more span {
    color: #e42417
}

.recommend {

}

.recommend-card {
    padding: 1rem 0 1rem .5rem;
    display: flex;
    justify-content: space-between;
}

.recommend-card-body {
    width: 64%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recommend-card-title {

}

.recommend-card-subtitle {
    font-size: .85rem;
    color: #b5babe;
}

.recommend-card-image {
    width: 30%;
    border-radius: 4px;
}

.comment-card {
    padding: 1rem 0 1rem .5rem;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.comment-card-image {
    /*width: 3rem;*/
    width: 12%;
}

.comment-card-body {
    width: 70%;
}

.comment-card-user {
    margin-bottom: .85rem;
    color: #b99d84;
}

.comment-card-content {
    margin-bottom: 1rem;
}

.comment-card-release {
    font-size: .85rem;
}

.comment-card-like {
    width: 15%;
    font-size: .85rem;
    color: rgb(173, 180, 186);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-card-like p {
    margin-right: .25rem;
}

.bottom-nav {
    width: 100%;
    height: 3rem;
    padding: 1rem .25rem;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 2;
}

.bottom-nav input {
    width: 58%;
    height: 2rem;
    padding: .5rem;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: #f2f3f5;
}

.bottom-nav-icon {
    color: #697279;
    font-size: 1.5rem;
}