header {
    width: 100%;
    height: 3rem;
    padding: .25rem .5rem;
    background-color: #e42417;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
}

.tab {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff1f0;
    position: fixed;
    top: 3rem;
    padding: 0 .5rem;
    /*line-height: 48px;*/
    line-height: 3rem;
    z-index: 2;
}

.tab-item {
    font-size: 1rem;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 80%;
}

.tab-item::-webkit-scrollbar {
    display: none;
}

.tab-link {
    display: block;
    height: 100%;
    color: #6a7076;
    margin-right: .5rem;
    padding: 0 .5rem;
    font-size: 1rem;
}

.tab-item .active {
    color: #e42417;
    border-bottom: 2px solid #e42417;
}

.tab-menu {
    width: 20%;
    display: flex;
}


/*TODO 重新写样式*/
.sub-tab {
    /*height: 3rem;*/
    line-height: 3rem;
    padding-left: .5rem;
    position: fixed;
    top: 6rem;
    background-color: #ffffff;
    /*display: none;*/
    z-index: 2;
    width: 100%;
}

.sub-tab .active {
    background-color: #e42417;
    color: #ffffff;
}

.sub-tab-item {
    overflow-x: auto;
    white-space: nowrap;
    display: none;
}

.sub-tab-item::-webkit-scrollbar {
    display: none;
}

.sub-tab-link {
    background-color: #f9f9f9;
    padding: .25rem;
    color: #888c8f;
    border-radius: 4px;
    margin-right: .5rem;
}

.container {
    margin-top: 6rem;
}

.carousel-item {
    width: 100%;
}

.carousel-caption {
    width: 100%;
    height: 3.75rem;
    padding: .5rem 1rem;
    background-color: #fafbfd;
}

.list {
    padding-bottom: 3rem;
}


.nav {
    width: 100%;
    height: 3rem;
    padding: .25rem 1rem;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #d8d8d8;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-icon {
    width: 3.5rem;
    height: 3.5rem;
    color: #aab3ba;
}

.nav-text {
    color: #a4a4a4;
    font-size: 0.7rem;
    transform: scale(0.8);
}

.nav-search {
    height: 1.625rem;
    border-radius: .8125rem;
    outline: none;
    border: none;
    background-color: #eb655a;
}

/*TODO:卡片样式*/
.card {
    padding: 1rem 1rem 0;
}

.card-body {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.card-title {
    font-size: 1rem;
    width: 64%;
}

.card-image {
    width: 30%;
    border-radius: 4px;
    flex-basis: 32.5%
}

.card-image-group {
    display: flex;
    justify-content: space-between;
}

.card-footer {
    font-size: 0.75rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #acb2ba;
}

.card-subtitle {
    font-size: .75rem;
}

.card-menu {
    color: #e42417;
    display: flex;
    align-items: flex-end;
}

.card-menu-icon {
    font-size: .9rem;
    margin-right: .25rem;
}

.card-menu-text {
    font-size: .75rem;
}

.card-live-menu {
    font-size: 1rem;
    margin-right: .25rem;
}

.card-video-image {
    width: 100%;
    border-radius: 4px;
}

.card-video-time {
    font-size: .85rem;
    position: absolute;
    padding: .25rem .5rem;
    color: #ffffff;
    border-radius: 2px;
    left: .5rem;
    bottom: .5rem;
    background-color: rgba(0, 0, 0, .8)
}

.card-live-image {
    width: 100%;
    border-radius: 4px;
}

.card-live-state {
    font-size: .85rem;
    position: absolute;
    padding: .25rem .5rem;
    color: #ffffff;
    border-radius: 2px;
    left: .5rem;
    bottom: .5rem;
    background-color: rgba(0, 0, 0, .8)
}

.local {
    line-height: 48px;
    height:48px;
    display: flex;
    justify-content: space-around;
    color: #697076;
    border-bottom: 1px solid #f4f4f4;
}

.tv {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    color: #6a6f75;
    border-bottom: 1px solid #f4f4f4;
}

.tv-card {
    display: flex;
    flex-direction: column;
    align-items: center
}

.tv-brand {
    width: 3rem;
    padding-bottom: .5rem;
}

.tv-text {
    font-size: 12px
}

/*TODO:通用颜色*/
/*主色*/
.color-primary {
    color: #e42417;
}

/*副色*/
.color-secondary {

}

/*TODO:通用布局*/
/*宽度100%*/
.w-100 {
    width: 100%;
}

/*底部外边距1rem*/
.mb-1 {
    margin-bottom: 1rem;
}

/*底部内边距1rem*/
.pd-1 {
    padding-bottom: 1rem;
}

/*position: relative*/
.position-relative {
    position: relative;
}

/*position: absolute*/
.position-absolute {
    position: absolute;
}


/*display:flex*/
.d-flex {
    display: flex;
}

/*justify-content: space-around*/
.justify-content-around {
    justify-content: space-around;
}

/*justify-content: space-between*/
.justify-content-between {
    justify-content: space-between;
}

/*align-items: center;*/
.align-items-center {
    align-items: center;
}